@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  background-color: #d1fceb;
}

body section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body section .row {
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: black;
}

.card:hover .cover h1 {
  transform: translateZ(100px);
}

.card:hover .cover .price {
  transform: translateZ(60px);
}

.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 40%;
  /* Add this line to constrain image width */
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.cover:before {
  content: '';
  position: absolute;
  border: 5px solid rgba(255, 255, 255, .5);
  box-shadow: 0 0 12px rgba(0, 0, 0, .3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, .4);
}

.cover.item-a {
  background-image: url('rinas.jpeg');
}

.cover.item-b {
  background-image: url('shalani.jpeg');
}

.cover.item-c {
  background-image: url('vihan.jpeg');
}
.cover.item-d {
  background-image: url('hasaranga.jpeg');
}

.cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}

.cover .price {
  font-weight: 200;
  position: absolute;
  top: 55px;
  right: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 4;
  font-size: 2em;
  transform: translateZ(0px);
}

.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background .5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1em;
  /* Adjusted font size */
  color: white;
  padding: 10px 20px;
  /* Adjusted padding */
  outline: none;
  text-decoration: none;
}

.card-back a:hover {
  background-color: white;
  color: #0b0f08;
}